[Desktop Entry]
Name=Wizard
Exec=wizard %F
Terminal=false
Type=Application
StartupNotify=true
Icon=io.github.cosmicUtils.Wizard
Categories=COSMIC;
Keywords=
MimeType=
