[Desktop Entry]
Name=Wizard
Exec=wizard %U
Terminal=false
Type=Application
StartupNotify=true
Icon=package-x-generic
Categories=COSMIC;
MimeType=application/x-deb;application/vnd.debian.binary-package;
Keywords=
